body {
  background-color: #232323;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

#container {
  margin: 0px auto;
  max-width: 600px;
}

h1 {
  color: white;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

button {
  background: white;
  color: black;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 5px;
  outline: none;
}

.selected {
  background: black;
  color: white;
}

@keyframes blink {
  50% { border-color: #ff0000; }
}

.selected { /*or other element you want*/
  animation: blink .5s step-end infinite alternate;
}
