body {
  background: #232323;
  font-family: sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

#hintLine {
  color: #232323;
  text-align: center;
}

/*#colorDisplay {*/
  /*color: white;*/
/*}*/

#container {
  margin: 0 auto;
  width:70%;
}

.square {
  width: 30%;
  background: yellow;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
}

.console {
  text-align: center;
}

.console button {
  margin: 5px;
}

button {
  background: white;
  color: black;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 5px;
}

.selected {
  background: black;
  color: white;
}

@keyframes blink {
   50% { border-color: #ff0000; }
}

.selected { /*or other element you want*/
    animation: blink .5s step-end infinite alternate;
}
